

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightcyan;
    color: grey;
    padding: 20px 60px 20px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .title {
    font-size: 50px;
    font-weight: 600;
    background-image: url(https://th.bing.com/th/id/OIP.t4x5IxiNPXCVhGI6Dtl_mgHaEK?pid=ImgDet&rs=1);
    background-size: 250px;
    background-repeat: repeat;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-left: 2%;
    } 

    .navs ul {
        display: flex;
        justify-content: space-between;
        min-width: 350px;
     }
    
     .navs a {
        color:gray;
        font-weight: bold;
        text-decoration: none;
        font-size: 20px;
      } 

      .navs a:hover {
        background-color: lightskyblue;
        color: gray;
        font-size: larger;
      }

      
      .footer-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: paleturquoise;
        color: grey;
        padding: 20px 60px 20px 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-top: 20%;
      }

      .footer-itms {
        display: flex;
        justify-content: space-evenly;
        min-width: 700px;
        list-style-type: none;
      }
      
      
      div a {
        color:gray;
        font-weight: bold;
        text-decoration: none;
        font-size: 20px;
        list-style-type: none;
      } 
      
      div a:hover {
        color: blanchedalmond;
      }

      .aboutme {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    
      }
      
      .aboutme {
        margin-top: 100px;
        padding: 0px 100px 30px 100px;
        margin: 100px 50px 0 50px;
        border-radius: 15px;
      }
    
      .aboutme h2 {
        position: relative;
        bottom: 30px;
        color: grey;
        font-size: 200%;
        background-color: white;
        padding: 10px 10px 10px 10px;
        
      }
    
      .aboutme p {
        line-height: 1.6;
        font-style: oblique;
      }

      .back {
        background-image: url(https://th.bing.com/th/id/R.2adcc21844968ee647cfeb5a521cb376?rik=LdiC6L%2facEZWaQ&pid=ImgRaw&r=0);
      }

      .name {
     font-weight: bolder;
     color: darkcyan;
      }

      img {
        height: 100px;
        width: 100px;
        border: 5px solid var(--grey);
        border-radius: 10px 10px 10px 10px;
        margin-left: 1px;
    }
    




