.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightcyan;
    color: grey;
    padding: 20px 60px 20px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 2%;
  }

  .title {
    font-size: 50px;
    font-weight: 600;
    background-image: url(https://th.bing.com/th/id/OIP.t4x5IxiNPXCVhGI6Dtl_mgHaEK?pid=ImgDet&rs=1);
    background-size: 250px;
    background-repeat: repeat;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-left: 2%;
    } 

    .navs ul {
        display: flex;
        justify-content: space-between;
        min-width: 350px;
     }
    
     .navs a {
        color:gray;
        font-weight: bold;
        text-decoration: none;
        font-size: 20px;
      } 

      .navs a:hover {
        background-color: lightskyblue;
        color: gray;
        font-size: larger;
      }

      
      .footer-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: lightcyan;
        padding: 20px 60px 20px 0;
        margin-top: 5%;
      }

  

      .footer-itms {
        display: flex;
        justify-content: space-evenly;
        min-width: 700px;
        list-style-type: none;
        margin-left: auto;
        margin-right: auto;
        width: 50%;

      }
      
      
      div a {
        color:gray;
        font-weight: bold;
        text-decoration: none;
        font-size: 20px;
        list-style-type: none;
      } 
      
      div a:hover {
        color: blanchedalmond;
      }

      .aboutme {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    
      }
      
      .aboutme {
        margin-top: 100px;
        padding: 0px 100px 30px 100px;
        margin: 100px 50px 0 50px;
        border-radius: 15px;
      }
    
      .aboutme h2 {
        font-size: 50px;
        font-weight: 600;
        background-image: url(https://th.bing.com/th?id=OIP.CV5Gy9tEGlslGxvdhMCMvAHaF7&w=279&h=223&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2);
        background-size: 250px;
        background-repeat: repeat;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        margin-left: 7%;
        font-style: oblique;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
    
      .aboutme p {
        line-height: 1.6;
        font-style: oblique;
      }

      .back {
        background-image: url(https://th.bing.com/th/id/R.2adcc21844968ee647cfeb5a521cb376?rik=LdiC6L%2facEZWaQ&pid=ImgRaw&r=0);
      }

      .name {
     font-weight: bolder;
     color: darkcyan;
      }

      img {
        height: 100px;
        width: 100px;
        border: 5px solid var(--grey);
        border-radius: 10px 10px 10px 10px;
        margin-left: 1px;
    }

    .project img {
        width: 350px;
        height: 350px;
        object-fit: cover;
        object-position: bottom;
        padding: 10px;
        border-radius: 15px 15px 15px 15px;
       border: solid 5px darkblue;
    }

    .project img:hover {
     cursor: pointer;
     opacity: 0.5;
     transition: 0.5s;
  }

    .project{
        display: flex;
        max-width: 1200px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
    }

    .border{
      background-image: url(https://wallpapercave.com/wp/wp4831694.jpg);
    }

    .portfolio{
      font-size: 50px;
      font-weight: 600;
      background-image: url(https://th.bing.com/th?id=OIP.CV5Gy9tEGlslGxvdhMCMvAHaF7&w=279&h=223&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2);
      background-size: 250px;
      background-repeat: repeat;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      margin-left: 7%;
      font-style: oblique;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      .Ptitle {
      font-size: 30px;
      font-weight: 600;
      background-image: url(https://th.bing.com/th?id=OIP.CV5Gy9tEGlslGxvdhMCMvAHaF7&w=279&h=223&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2);
      background-size: 250px;
      background-repeat: repeat;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      margin-left: 7%;
      font-style: oblique;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      .desc {
        color: grey;
        font-weight: bold;
        font-size: 20px;
      }

      .form {
        display: block;
        max-width: 1200px;
        width: 100%;
        justify-content: center;
        margin-top: 5%;
        margin-left: 500px;
        margin-right: auto;
        margin-bottom: 150px;
      }



      .Ftitle {
        font-size: 20px;
        font-weight: 600;
       background-color: darkcyan;
        background-size: 250px;
        background-repeat: repeat;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        margin-left: 7%;
        font-style: oblique;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

      .input {
        font-size: 16px;
        font-size: max(16px, 1em);
        font-family: inherit;
        padding: 0.25em 0.5em;
        background-color: #fff;
        border: 2px solid cyan;
        border-radius: 4px;
      }


.button1 {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
   
    




